src/packages

src/*/bin/
src/*/obj/
src/packages/
*.suo
src/buildreports/
src/*/node_modules/
src/test-results.xml
*.user
src/bin/
nunit-result.xml
*.swp
src/coverage
buildreports
src/.vs/config/applicationhost.config
src/OpenCover/
*.ncrunchproject
*.ncrunchsolution